<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{index :: nav}"></div>

<!--Form add-->
    <div class="container">
        <div class="mb-3 mt-3">
            <a th:href="@{/}" th:text="#{back}">back</a>
        </div>

        <h1 th:text="#{write_article}">Write Article</h1>

        <form th:action="@{/handle-add}" th:object="${formAdd}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <img id="output" width="200" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label" th:text="#{profile}">Profile</label>
                <input type="file" onchange="loadFile(event)" name="file" class="form-control"  aria-describedby="nameHelp" multiple="multiple">
            </div>
            <div class="mb-3">
                <label  class="form-label" th:text="#{title}">Title</label>
                <input type="text" name="title" class="form-control"  aria-describedby="TextHelp" placeholder="The Greatest Article in the World!">
                <small id="TextHelp" th:errors="*{title}" class="form-text text-danger"></small>
            </div>
            <div class="mb-3">
                <label class="form-label" th:text="#{description}">Description</label>
                <input type="text" name="description" class="form-control"  style="height: 100px">
                <small id="DescriptionHelp"  th:errors="*{description}"    class="form-text text-danger"></small>
            </div>

            <button type="submit" class="btn btn-primary" th:text="#{submit}">Submit</button>
        </form>
    </div>
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>